a.left_group_item{
    color: #555;
}
.left_group_item{
    position: relative;
    background: #fff;
    display: block;
    padding: 12px;
    background-color: #fff;
    border: 0;
    font-size: 14px;
}